/*
This file except where otherwise noted is copyright by Alex Watkins.
*/
/* 
    Created on : Sep 13, 2015, 4:13:38 PM
    Author     : Alex
*/

body {
    background-image: url(triangular.png);
    background-repeat: repeat;
    /*background-attachment: fixed;*/
    /*font-family: "Times New Roman", Times, serif;*/
    position: relative;
}

/*
    Intro/Title Styles
*/

.introTitle {
    background-color: rgba(52, 152, 219, 0.75);
    width: 100%;
    margin-top: 50px;
}

.introTitleContent {
    text-align: center;
    white-space: nowrap;
}

@media screen and (min-width: 1000px) {
    .introTitleContent {
        padding: 8vh;
    }
    .introTitle {
        max-height: calc(100vh - 50px);
    }
    .wideSpaceConvertColors {
        height: 20px;
        width: 30px;
    }
}

@media screen and (max-width: 860px) {
    .smallSpacerSmallScreen {
        height: 20px;
        width: 10px;
    }
}

.mainTitle {
    font-size: 7vw;
    color: white; 
}

.subTitle {
    font-size: 3vw;
    color: white;
}

/*
    Content Styles
*/

.contentItemPadder {
    padding: 20px;
}

.activeSpecial {
    background-color: #F8F8F8 !important;
}

.projectsContentHideOnStart {
    display: none;
}

.contentContainer {
    width: 100%;
    background-color: white;  
    text-align: center;
    font-size: 14px;
    /*display: inline-block;*/
}

.navLinkTarget {
    display: block;
    position: relative;
    top: -71px;
    visibility: hidden;
}

@media screen and (max-width: 999px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        margin: 30px;
    }
    .contentContainer {
        display: inline-block;
    }
    
    .specialSpacer {
        margin-top: 0;
    }
    .navLinkTarget {
        top: -51px;
    }
/*    .verticleCenter {
        display: inline-block;
    }*/
}

.screenShotStyle {
    height: 400px;
    /*width: auto;*/
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 1000px) {
    .contentContainer {
        width: 100%;
        background-color: white;
        /*min-height: calc(100vh - 50px);*/
        text-align: center;
        padding: 20px;
/*        display: block;*/
    }

    .contentBlockLimit {
        max-width: 400px;
    }

    .contentBlockLimitSmall {
        /*max-width: 300px;*/
    }

    
    
    .experienceContainer {
        max-width: 600px;
        /*height: calc(100vh - 50px);*/
        margin-left: auto;
        margin-right: auto;
    }

/*    .verticleCenter {
      position:relative;
      top:50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }*/

/*    .titleSpecialCenter {
        position: absolute;
        left: 50%;
        right: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }*/
}

.footerContainer {
    width: 100%;
    color: white;
    background-color: #707070;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.titleSpecialCenter {
    /*display: inline-block;*/
/*    margin-left: auto;
    margin-right: auto;*/
}

.contentContainerAlt {
    background-color: #EEE;
}

.nexuscraftLogoStyle {
    border-bottom-color: rgb(37, 33, 34) !important;
    border-bottom-style: none !important;
    border-bottom-width: 0px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(37, 33, 34) !important;
    border-left-style: none !important;
    border-left-width: 0px !important;
    border-right-color: rgb(37, 33, 34) !important;
    border-right-style: none !important;
    border-right-width: 0px !important;
    border-top-color: rgb(37, 33, 34) !important;
    border-top-style: none !important;
    border-top-width: 0px !important;
    box-sizing: border-box !important;
    color: rgb(37, 33, 34) !important;
    display: block !important;
    font-family: 'Source Sans Pro' !important;
    font-size: 36.6667px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 900 !important;
    height: 25px !important;
    letter-spacing: -1.28333px !important;
    line-height: 25.6667px !important;
    margin-bottom: 55px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    text-align: center !important;
    vertical-align: baseline !important;
    border-bottom-color: rgb(37, 33, 34) !important;
    border-bottom-style: none !important;
    border-bottom-width: 0px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(37, 33, 34) !important;
    border-left-style: none !important;
    border-left-width: 0px !important;
    border-right-color: rgb(37, 33, 34) !important;
    border-right-style: none !important;
    border-right-width: 0px !important;
    border-top-color: rgb(37, 33, 34) !important;
    border-top-style: none !important;
    border-top-width: 0px !important;
    box-sizing: border-box !important;
    color: rgb(37, 33, 34) !important;
    cursor: auto !important;
    font-family: 'Source Sans Pro' !important;
    font-size: 35px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 900 !important;
    letter-spacing: -1.225px !important;
    line-height: 24.5px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px  !important;
    padding-top: 0px !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: baseline !important;
}

/*
    Image Style
*/


/*cut to full circle at less than 1000px; */

.img-half-circle {
    border-radius: 50%;
} 

#titleImage {
    height: calc(75vw - 150px);
    width: calc(75vw - 150px);
    max-height: 400px;
    max-width: 400px;
    margin-top: 20px;
}

.heightLimiter {
    max-height: 100px;
}

.heightLimiterLarge {
    max-height: 80px;
}

.widthLimiter {
    max-width: 250px;
}

.widthLimiterSmall {
    max-width: 100px;
}

.imageBorder {
    margin: 10px;
}

@media screen and (min-width: 1000px) {
   .img-half-circle {
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    } 
    #titleImage {
        height: calc(100vh - 50px);
        width: calc(100vh - 50px);
        max-height: 100vh;
        max-width: 100vw;
        float: left;
        margin: 0;
    }
}

/*
    Other Styles
*/

.socialBtnPadder {
    padding: 0px 3px 10px 3px;
    display: inline-block;
}

@media screen and (min-width: 992px) {  
    .socialBtnPadder {
        padding: 8px 3px;
        float: right;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
    Overiding Bootstrap Styles
*/

.col-md-6 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
    padding: 0;
  }
  
 @media screen and (max-width: 999px) {
    .col-md-6 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
 }
 
/* .slick-arrow {
     color: black;
 }
 */
.slick-prev:before, .slick-next:before {
    color: black;
}
 
/* .navbar {
      height: 25px;
      min-height: 25px;
  }
  
  .navLink {
      padding: 2px  5px !important;
  }
  */
  /*
      Centering Styles
  */
  
.frame {
/*    width: calc(100vh - 50px);
    margin-left: auto;
    margin-right: auto;*/
}
.helper {
    display: none;
}
  
@media screen and (min-width: 1000px) {  
    .frame {
        height: calc(100vh - 50px);      /* equals max image height */
        /*width: 960px;*/
        white-space: nowrap;
        margin: 0 !important;
        text-align: center; margin: 1em 0;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .centerImg {
        vertical-align: middle;
        max-height: 960px;
        max-width: 960px;
    }

    .textDiv {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }

    .textSpan {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
}
